.list img{
  width: 40px;
  height: 50px;
}
.list{
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
/*.name{*/
/*  margin: auto 10px  ;*/
/*}*/
.buttons{
  background: red;
  width: 20px;
  height: 20px;
  ;
}
.profile{
  display: flex;
  align-items: center;
}
.name{
  margin-left: 10px;
}
